/* Article on flex-basis at gedd.ski/post/the-difference-between-width-and-flex-basis */
/* APPEARANCE STYLES*/
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

.box {
  font-size: 50px;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: lato;
  font-weight: 300;
  box-sizing: border-box;
  height: 100px;
  flex-basis: 150px;
  flex-grow: 1;
}

.box-1 {
  background: #e51400;
}

.box-2 {
  background: #fa6800;
  flex-grow: 2;
}

.box-3 {
  background: #f0a90a;
}

.box-4 {
  background: #e3c800;
  flex-grow: 4;
}

.container {
  display: flex;
  border: 2px solid black;
  flex-direction: row;
  height: 80vh;
}
