@import url(https://fonts.googleapis.com/css?family=Raleway:700);
body {
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  background: #2c3e50;
}

p {
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 45px;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  width: 5em;
  padding: 1em;
  color: white;
  text-align: center;
  font: 400 1.5em /1 "Raleway", sans-serif;
  letter-spacing: 4px;
  background: #1abc9c;
  cursor: pointer;
}

.anim {
  animation-name: jiggle;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

.rainbow {
  animation-name: rainbowtext;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.box {
  background: #9b59b6;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  font-size: 17px;
  border-radius: 20px;
  animation-name: slideRight;
  animation-iteration-count: infinite;
  animation-delay: 0;
  animation-duration: 2s;
  animation-play-state: paused;
}

.box:hover {
  animation-play-state: running;
}

.alternate {
  animation-direction: alternate;
}

.reverse {
  animation-direction: reverse;
}

@keyframes slideRight {
  100% {
    transform: translateX(500px);
  }
}

@keyframes jiggle {
  48%,
  62% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  56% {
    transform: scale(0.9, 1.1) translate(0, -5px);
  }
  59% {
    transform: scale(1, 1) translate(0, -3px);
  }
}

@keyframes rainbowtext {
  0% {
    color: red;
    font-size: 20px;
  }
  25% {
    color: orange;
  }
  50% {
    color: yellow;
    font-size: 40px;
  }
  75% {
    color: green;
  }
  100% {
    color: blue;
    font-size: 20px;
  }
}
