p {
  width: 80px;
  height: 80px;
  background-color: #1abc9c;
}

.move-right:hover {
  background-color: #3498db;
  transform: translateX(100px);
}

.move-down:hover {
  background-color: #f1c40f;
  transform: translateY(20px);
}

div {
  margin-top: 25px;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  color: #ecf0f1;
  border: 2px solid #2c3e50;
}

.transform-scale:hover {
  transform: scale(2);
  transform-origin: 0 0;
}

.transform-scaleX:hover {
  transform: scaleX(4);
}

.transform-scaleY:hover {
  transform: scaleY(3);
}

.rotate:hover {
  background-color: #9b59b6;
  transform: rotate(45deg);
  transform-origin: left top;
}

.box {
  background: #9b59b6;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  font-size: 17px;
  border-radius: 20px;
}

.animated {
  transition-property: background-color, border-radius;
  transition-duration: 1s, 5s;
}

.box:hover {
  background-color: lightgreen;
  transform-origin: top left;
  transform: scale(2);
  border-radius: 50px;
}
